<div class="row">
  <div class="col-md-6 form-group">
    <label for="titleInput">
      Title
    </label>
    <input
      type="text"
      class="form-control"
      id="titleInput"
      #titleInput
    >
  </div>
  <div  class="col-md-6 form-group mb-2">
    <label for="workloadInput">
      Workload
    </label>
    <input
      type="text"
      class="form-control"
      id="workloadInput"
      #workloadInput
    >
  </div>
</div>
<div class="row">
  <button
    class="btn btn-primary btn-block"
    (click)="add(titleInput.value, workloadInput.value)"
    type="button"
  >
    Register
  </button>
</div>
